@media only screen and (max-width: 600px) {
    #header .container {
        flex-direction: column;
        align-items: center;
    }

    #header-img {
        text-align: center;
    }

    #nav-bar ul li .nav-link {
        font-size: 13px;
    }

    #showcase .container {
        flex-direction: column;
    }

    .hero-text h1 {
        text-align: center;
        font-size: 25px;
    }

    #video-section {
        flex-direction: column;
    }

    #video-section .description {
        display: none;
    }

    #video {
       width: 300px;
       height: auto;
    }

    .features-template {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (min-width: 600px) {
    #video-section {
        flex-direction: column;
    }

   .description h2 {
       text-align: center;
   }
}

@media only screen and (min-width: 768px)  {
    #video-section {
        flex-direction: row;
    }
}