* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #0A80DD;
    --secondary: #373737;
    --light: #F7F7F9;
}

body {
    background-color: var(--light);
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 0.75rem 0;
}

.shadow {
    box-shadow: 0 0 20px #ccc;
}

.container {
    max-width: 1155px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

/* Header */
#header {
    max-width: 1155px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 1;

}

#header-img {
    color: var(--secondary);
    font-size: 35px;
    font-weight: bold;
}

#header-img span {
    color: var(--primary);
    font-weight: lighter;
}

#nav-bar ul {
    display: flex;
    margin-top: 20px;
}

#nav-bar ul li .nav-link {
    color: var(--secondary);
    padding: 0.75rem;
    margin: 0 0.25rem;
    transition: color 0.3s ease-in;
}

#nav-bar ul li .nav-link:hover {
    color: var(--primary);
}

.btn-buy {
    color: #fff !important;
    background-color: var(--primary);
    margin: 12px 0px 0px 25px;
    padding: 5px 18px;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.btn-buy:hover {
    background-color: #2196f3;
}

/* Showcase */
#showcase {
    margin-bottom: 50px;
}

#showcase .container {
    display: flex;
    margin-top: 70px;
    
}

#showcase .container .product-img,
#showcase .container .hero-text {
    margin-right: 30px;
}

.product-img img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hero-text h1 {
    font-size: 35px;
    color: var(--secondary);
    letter-spacing: 3px;
}

#email {
    width: 100%;
    height: 50px;
    margin-top: 17px;
    border: 1px solid #e6f0fa;
    border-radius: 25px;
    padding-left: 20px;
    font-size: 14px;
}

#submit {
    margin-top: 17px;
    width: 100%;
    height: 50px;
    margin: 15px 0px 0px;
    border: 0;
    border-radius: 25px;
    background-color: var(--primary);
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit:hover {
    background-color: #2196f3;
}

/* Video Section */
#video-section {
    max-width: 1155px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 0 2rem;
    overflow: hidden;


    display: flex;

    
}

#video-section .description,
#video-section .video-area {
    margin-right: 30px;
}

#video-section .video-area {
    flex: 2;
}

.description h2 {
    color: var(--secondary);
}

.description p {
    text-align: justify;
    font-size: 14px;
    font-weight: lighter;
    color: #777777;
    line-height: 24px;
}

/* Features */

#features {
    margin-top: 70px;
    margin-bottom: 50px;
}

.features-template {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
}

ion-icon {
    margin-left: 17%;
    font-size: 64px;
    color: var(--secondary);
}

.features-template div p {
    font-size: 17px;
}